
*{
	margin: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body{

	background-image: url("Images/fondo2.png");
	background-color: #e1c084;
	text-align: center;
	font-family: sans-serif;
	background-attachment: fixed; 
	background-position: center;
}
@font-face {
	font-family: "Dollmaker";
	src: url("Fonts/Dollmaker-Regular.ttf") format('truetype');
}

.img1 img{
	max-height: 90%;
	max-width: 90%;
	height: auto;
}
.letras img{
	max-height: 90%;
	max-width: 90%;
	height: auto;
}


header {
	margin-bottom: 10px;
	background-color: #1A1633;
	opacity: 0.98;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.menu{

	justify-content: space-between;
	align-items: center ;
	padding: 20px 0;
	background-color: #1A1633;
	position: relative;
	display:  flex;

}

.logo{
	margin-left: 50px;
	color: #FBE8A5;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Dollmaker;
	font-size: 65px;
	font-weight: 800;
	text-transform: uppercase;
	align-items: center;
	text-shadow: 2px 2px 8px #ffcccc;


}


.menu-btn {
	margin-right: 100px;
	background-color: #FBE8A5;
	color: black;
	padding: 18px 30px;
	border: none;
	cursor: pointer;
}

.menu-items {
	position: absolute;
	list-style-type: none;
	padding: 20px;
	margin: 0;
	background-color: #1A1633;
	display: none;
	z-index: 1;
}

.menu-items li {
	border-bottom: 1px;
	color: #1A1633;
}

.menu-items li:last-child {
	border-bottom: none;
}

.menu-items li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #FBE8A5
}

.menu-items li a:hover {
	background-color: #f1f1f1;
}

.menu:hover .menu-items {
	display: block;
}

#menu {
	display:none;
}

.menu-icono{
	width: 25px;	
}

.menu label{
	cursor: pointer;	
}

.header-content{
	display: flex;
	justify-content:space-between;
	text-align: center;
	padding-top: 100px ;
}

.header-txt {
	font-family: Dollmaker;
	flex-basis:0%;
	padding-right: 80px;
	padding-left: 70px;
	padding-top: 80px;
	padding-bottom: 10px;
}

.header-txt h1 {
	font-size:50px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #000000;
	background-color: #F7B3C0;
	display: block;
}

p {
	font-size: 18px;
	color: #FFF9BB;
	margin-bottom: 25px;

}
.header-txt h3{
	color: #F7B3C0;
}
.btn-1{
	display:inline-block;
	padding: 10px 25px;
	color: #FFFFFF;
	background-color: #95AB7C;
	text-transform: uppercase;
	border-radius: 25px;
	font-size: 16px;
}

.btn-1:hover{
	background-color: #D5EDB9;
}

.header-img {
	flex-basis: 50%;
}

.services {
	padding: 80px 0;
	text-align: center;
}

h2{
	color:#1B1B1D;
	font-size:40px;
}

.inicio{
	padding-top: 100px;
	background-image: url("Images/imagen borrosa.png");
	background-size: cover;
	background-attachment: fixed; 
	background-position: center;
}

.in-flex{
	flex:1;
	padding: 25px;
}

.in-flex:first-child{
	flex:2;
}

.in-flex div{
	padding: 22px;
}
.in-flex2{
	flex: 2;
}

.footer{
	background-color:#1A1633 ;
}
.title{
	font-family: Dollmaker;
	margin-bottom: 30px;
	font-size: 55px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffcccc;
	text-shadow: 2px 2px 8px #edb158;
}
.subtitle{
	font-family: Dollmaker;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	color: #006666;
}

img {
	width: 70%;
	height: auto;
	filter: drop-shadow(0px 2px 10px black);
	max-width: 400px;
	max-height: 250px;
}
.content2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.intro{
	border-bottom: 0;
	border-top: 0;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	border: 2px solid #edb158;
	border-radius: 5px;
	background: #f5d58c;
	width: 100%;
	opacity: 0.99;
}
.historia{
	border-bottom: 0;
	border-top: 0;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	border: 2px solid #edb158;
	border-radius: 5px;
	background: #f5d58c;
	width: 100%;
	opacity: 0.97;
}
.genero{
	border-bottom: 0;
	border-top: 0;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	border: 2px solid #edb158;
	border-radius: 5px;
	background: #f5d58c ;
	width: 100%;
	opacity: 0.98;
}
.gameplay{
	border-bottom: 0;
	border-top: 0;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	border: 2px solid #edb158;
	border-radius: 5px;
	background: #f5d58c;
	width: 100%;
	opacity: 0.98;
}
.Meta{
	background: #f2f2f2;	
	border: 1px solid black;
}

.contenedor{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.titleapoyo{
	font-family: Dollmaker;
	font-size: 55px;
	font-weight: 800;
	text-transform: uppercase;
	color: #006666;
	text-shadow: 2px 2px 8px #ffcccc;
	padding: 20px; 
}
.contenedor3{
	background-color: #f5d58c ;
	opacity: 0.97;
	margin-top: 3%;
	border-radius: 5px;
}
.tier {
	font-family: Dollmaker;
	color: black;
	font-size: 30px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	margin-bottom: 2%;
	background: #edb158 ;
	border: 2px solid #edb158; 
	padding: 2px;
	width: 60%;
	border-radius: 5px;
}

.descripción{
	width: 80%;
	height: auto;
}
.Description{
	font-family: Dollmaker;
	color: black;
	font-size: 24px;
	text-align: center;
	width: 100%;
	padding: 20px;
}
.hist{
	display: flex;
	flex-direction: row;
}
.gen{
	display: flex;
	flex-direction: row;
}
.gamep{
	display: flex;
	flex-direction: row;
}
.Metas {	
	position: sticky;  
	height: 115vh;
	padding-bottom: 20px;
	padding-top: 20px;
	overflow: hidden;
	overflow-y: scroll;
}
video {
	width: 90%;
	height: auto;
	filter: drop-shadow(0px 2px 10px black);
}
.FAQ{

	background-image: url("Images/dollmakerfondo.png");
	background-size: cover;
	background-attachment: fixed; 
	background-position: center;
	margin-top: 3%;
}
.cuerpo{
	background-color: rgba(0,0,10,0.5);
	padding: 1%;
	margin-left: 10%;
	margin-right: 10%;
}
.preguntas {
	font-family: Dollmaker;
	color: black;
	font-size: 30px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	margin-bottom: 3%;
	background: #edb158;
	width: 50%;
	border: 2px solid #edb158;
	border-radius: 5px;
	padding: 2px;
}
.respuestas{

	font-family: Dollmaker ;
	color: black;
	font-size: 24px;
	text-align: center;
	background: #f5d58c;
	width: 100%;
	padding: 0px;
}
.containerp {
	background: #fff;
	padding: 20px;
	font-family: monospace;
	width: 500px;
	box-shadow: 0 0 5px #000;
	margin-top: 3%;
}

.text {
	margin: 10px 0;
	font-family: sans-serif;
	font-size: 0.9em;
}

.commentbox {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.commentbox > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;
	object-fit: cover;
	object-position: center;
}
.comentarios{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f2f2f2;
}
.contentp {
	width: 100%;
}

.user {
	border: none;
	outline: none;
	margin: 5px 0;
	color: #808080;
	margin-left: 20px;
	padding: 10px;
}

.commentinput > input {
	border: none;
	padding: 10px;
	padding-left: 0;
	outline: none;
	border-bottom: 2px solid blue;
	margin-bottom: 10px;
	width: 95%;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #808080;
}

.buttons > button {
	padding: 5px 10px;
	background: lightgrey;
	color: #808080;
	text-transform: uppercase;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}

.buttons > button.abled {
	background: blue;
	color: #fff;
}

.policy {
	margin: 20px 0;
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	color: #808080;
}

.policy a {
	text-decoration: none;
	color: blue;
}

.notify {
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.notify > input {
	margin-right: 5px;
	border: 2px solid #808080;
}

.parents {
	font-family: Arial, sans-serif;
	display: flex;
	margin-bottom: 30px;
}

h4 {
	font-size: 1.5em;
}

.parents p {
	margin: 10px 0;
	font-size: 0.9em;
	color: #000000;
}

.parents > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;
	object-fit: cover;
	object-position: center;
}

.engagements {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.engagements img {
	width: 20px;

}

.engagements img:nth-child(1) {
	margin-right: 10px;
	width: 25px;
}

.date {
	color: #808080;
	font-size: 0.8em;
}

@media (max-width: 1200px){
	.Metas{
		width: 750px;
		padding: 40px;
	}
	.hist{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.gen{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.gamep{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}


}

@media screen and (max-width: 600px) {
	.menu-btn {
		display: block;
	}


	.menu-items {
		position: static;
		display: none;
		width: 100%;
		text-align: center;
	}

	.menu-items li {
		border-bottom: none;
	}

	.menu:hover .menu-items {
		display: block;
	}
}

@media (max-width: 600px){
	.title{
		margin-bottom: 10;
		font-size: 40px;
	}
	.content{
		height:85vh;	
	}
}
@media (min-width: 850px){
	video {
		width: 750px;
		height: auto;
	}
}
